<!-- copre_depre/templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card mb-4 text-center">
        <div class="card-body">
            <img src="{% static 'images/emop_branco_g1.png' %}" alt="Logo" class="img-fluid mb-3" style="max-width: 150px;">
            <h3 class="card-title">CORDENADORIA DE PREÇOS - COPRE</h3>
            <p class="card-text">DEPARTAMENTO DE APROPRIAÇÃO DE PREÇOS - DEPRE</p>
        </div>
    </div>
    <h1 class="text-center mb-4">Bem-vindo ao COPRE - DEPRE</h1>
    {% if user.is_authenticated %}
    <div class="row g-2 justify-content-center">
        <div class="col-auto">
            <a href="{% url 'main' %}" class="btn btn-primary">Página Principal</a>
        </div>
        <div class="col-auto">
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sair</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row g-2 justify-content-center">
        <div class="col-auto">
            <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
        </div>
    </div>
    {% endif %}
</div>
<footer class="mt-auto py-3 bg-light fixed-bottom">
    <div class="container text-center">
        <span class="text-muted">
            Campo de São Cristóvão, 138 São Cristóvão, Rio de Janeiro | CEP: 20921-904<br>
SECRETARIA DE INFRAESTRUTURA E OBRAS PÚBLICAS
        </span>
    </div>
</footer>
{% endblock %}